
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

html {
	font-family: 'Source Code Pro', monospace;
}

body {

}

div.container {
	width: 30vw;
	margin: 50px auto;
	min-width: 400px;
}

div.content {
	padding: 0 40px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.25);
	overflow: hidden;
}

div.content.confirmation {
	display: flex;
	flex-direction: column;
}

div.content.confirmation p.observation {

}

div.content.confirmation p.quote {
	font-style: italic;
}

nav {

}

nav ul {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	padding: 0 5px;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	color: #000000;
}

nav ul li a.active {
    color: #60d394;
    font-weight: bold;
}

form.observation-form {
	margin: 20px 0 0;
}

input[type="text"], textarea {
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
	text-align: center;
	width: 100%;
}

label {
	text-align: center;
}

div.input-holder {
	display: flex;
	flex-direction: column;
	margin: 0px 0 10px;
}

div.button-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button.submit,
button.cancel {
	cursor: pointer;
}

.submit, .confirm, .details, .delete{
	cursor: pointer;
	padding: 5px 30px;
	background-color: #60d394;
	border: none;
	border-radius: 2px;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
}

.cancel {
	cursor: pointer;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	font-size: 13px;
	color: #000;
}

.delete {
	background-color: #d65376;
}

div.message-container div {
	margin: 0 -40px 5px;
	padding: 5px 40px;
	text-align: center;
	color: #ffffff;
}

div.error-message {
	background-color: #ee6055;
}

div.success-message {
	background-color: #60d394;
}

div.observation {
	box-shadow: 0px 5px 7px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 5px 15px;
	margin: 20px 0 0;
	border: solid rgba(0,0,0,0.05) 1px;
}

table.spotting-table {
	width: 100%;
	border-spacing: 0px 10px;
}

table.spotting-table tbody.observation:first-child {
	box-shadow: none;
}

table.spotting-table tbody.observation {
	box-shadow: 0 5px 5px rgba(0,0,0,0.05);
	border-radius: 3px;
}

table.spotting-table td {
	padding: 5px 5px;
	text-align: center;
	border-right: solid rgba(0,0,0,0.15) 1px;
}

table.spotting-table td:last-child {
	border: none;
}

table.spotting-table tbody.observation div.button-holder {
	justify-content: space-evenly;
}

table.spotting-table td.row_id {
	font-weight: bold;
	padding: 0 15px;
	opacity: 0.5;
	color: rgba(0,0,0,0.25);
	border: none;
}

@media (max-width: 500px) {

	div.container {
		min-width: 90vw;
	}

	nav ul {
		flex-direction: column;
	}

}